@model IEnumerable<TravelPointSystem.Web.ViewModels.Hotels.HotelViewModel>

@{
    ViewData["Title"] = "All Hotels";
}


<div class="text-center mt-5 mb-3 h1">@this.ViewData["Title"]</div>


<p class="text-center">
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<div class="row my-5 d-flex justify-content-center">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr class="bg-info text-white">
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PricePerNightPerPerson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AvailableRooms)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FeedingType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destination.Town),  @Html.DisplayFor(modelItem => item.Destination.Country)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.PricePerNightPerPerson)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AvailableRooms)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FeedingType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td>
                            <p><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></p>
                            <p><a asp-action="Details" asp-route-id="@item.Id">Details</a></p>
                            <p><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

